@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes word {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translateY(0);
  }

  40%,
  100% {
    transform: translateY(-110%);
  }
}

.animate-word {
  animation: word 7s infinite;
}
.animate-word-delay-1 {
  animation: word 7s infinite;
  animation-delay: -1.4s;
}
.animate-word-delay-2 {
  animation: word 7s infinite;
  animation-delay: -2.8s;
}
.animate-word-delay-3 {
  animation: word 7s infinite;
  animation-delay: -4.2s;
}
.animate-word-delay-4 {
  animation: word 7s infinite;
  animation-delay: -5.6s;
}
.bg-hero {
  background-image: url(/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-hero {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
}


.sticky-images {
  position: sticky;
  top: 20vh;
  right: 20vw;
  left: 20vw;
  height: 80vh;
  width: 300vw;
}

